@font-face {
    font-family: 'helvbold';
    url('../fonts/texgyreheroscn-bold.otf')  format('truetype'),
}

@font-face {
    font-family: 'din';
    url('../fonts/Gidole-Regular.ttf')  format('truetype'),
    url('../fonts/Gidolinya-Regular.ttf')  format('truetype'),
}

.main-container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'din', 'Arial', 'Georgia',' Verdana', 'Times', sans-serif;
    background: url("../images/background-grid.png") repeat;
}

.fade {
    -webkit-transition-property: background, color;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background, color;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .8s, .4s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-timing-function: linear, ease-in;
    -o-transition-timing-function: linear, ease-in;
    transition-timing-function: linear, ease-in;
}

.btn-gradient {
    background: rgba(255,195,0,1);
    background: -moz-linear-gradient(top, rgba(255,195,0,1) 0%,  rgba(255,196,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,195,0,1)), color-stop(100%, rgba(255,196,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
}

.wrap-top {
    background: rgba(161,0,0,0.82);
    background: -moz-linear-gradient(top, rgba(161,0,0,0.82) 0%, rgba(161,0,0,0.81) 0%, rgba(227,0,0,0.81) 27%, rgba(160,0,0,0.81) 57%, rgba(138,0,0,0.81) 79%, rgba(86,0,0,0.81) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(161,0,0,0.82)), color-stop(0%, rgba(161,0,0,0.81)), color-stop(27%, rgba(227,0,0,0.81)), color-stop(57%, rgba(160,0,0,0.81)), color-stop(79%, rgba(138,0,0,0.81)), color-stop(100%, rgba(86,0,0,0.81)));
    background: -webkit-linear-gradient(top, rgba(161,0,0,0.82) 0%, rgba(161,0,0,0.81) 0%, rgba(227,0,0,0.81) 27%, rgba(160,0,0,0.81) 57%, rgba(138,0,0,0.81) 79%, rgba(86,0,0,0.81) 100%);
    background: -o-linear-gradient(top, rgba(161,0,0,0.82) 0%, rgba(161,0,0,0.81) 0%, rgba(227,0,0,0.81) 27%, rgba(160,0,0,0.81) 57%, rgba(138,0,0,0.81) 79%, rgba(86,0,0,0.81) 100%);
    background: -ms-linear-gradient(top, rgba(161,0,0,0.82) 0%, rgba(161,0,0,0.81) 0%, rgba(227,0,0,0.81) 27%, rgba(160,0,0,0.81) 57%, rgba(138,0,0,0.81) 79%, rgba(86,0,0,0.81) 100%);
    background: linear-gradient(to bottom, rgba(161,0,0,0.82) 0%, rgba(161,0,0,0.81) 0%, rgba(227,0,0,0.81) 27%, rgba(160,0,0,0.81) 57%, rgba(138,0,0,0.81) 79%, rgba(86,0,0,0.81) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a10000', endColorstr='#560000', GradientType=0 );
}

/*header*/
header {
    /*overflow: hidden;*/
}

.header-navigation {
    /*float: right;*/
    margin-left: 160px;
    font-size: 0;
    max-width: 812px;
    width: 100%;
}

.navigation, .header-navigation .logo,
.navigation .item {
    display: inline-block;
}

.header-navigation .logo {
    margin: 5px 0 -5px;
}

.navigation {
    position: absolute;
    right: -1px;
    bottom: 1px;
    min-height: 22px;
}

.logo .logo-image {
    width: 100%;
    height: auto;
}

.navigation .item {
    margin: 0 7px;
    padding: 4px;
}

.navigation .nav-link {
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: .6px;
    border-radius: 4px;
}

.navigation .nav-link:hover {
    color: #960000;
    background-color: #ffc300;
}

.navigation .login {
    width: 69px;
    height: 22px;
    color: #fff;
    margin-bottom: -4px;
    padding-left: 24px;
    background: #3278af url("../images/loginfb.jpg") 0 0 no-repeat;
    border: 1px solid #14477e;
    -webkit-box-shadow: inset 0 .5px 0 0 rgba(126,156,192,1);
    -moz-box-shadow: inset 0 .5px 0 0 rgba(126,156,192,1);
    box-shadow: inset 0 .5px 0 0 rgba(126,156,192,1);
    cursor: pointer;
}

.navigation .login:hover {
    color: #960000;
}

@media all and (max-width: 998px) {
    .header-navigation, .navigation, .header-navigation .logo  {
        /*float: none;*/
        margin: 0 auto;
    }
    .navigation, .header-navigation .logo {
        position: relative;
        display: block;
        /*margin: 0 auto;*/
        max-width: 500px;
        width: 100%;
    }
    .navigation {
        right: 0;
    }
}
@media all and (max-width: 510px) {
    .navigation .item {
        display: block;
        margin: 10px auto;
        text-align: center;
    }
}


/*sign-in-bar*/
.sign-in-bar-wrap {
    /*position: relative;*/
    /*margin: 33px 0 15px 0;*/
}

.sign-in {
    display: table;
    /*float: right;*/
    max-width: 800px;
    width: 100%;
    min-height: 69px;
    margin: 33px 0 15px 160px;
    padding: 10px;
    /*line-height: 50px;*/
    text-align: right;
    background-color: #960000;
    border-radius: 4px;
}

.sign-in:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 23px;
    width: 0;
    height: 0;
    border-bottom: 13px solid #960000;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
}

.sign-in {
    /*display: inline-block;*/

}

.sign-in .paragraph {
    display: table-cell;
    width: 384px;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    word-break: break-all;
}

.sign-in p strong {
    /*font-weight: bold;*/
}

.sign-in form {
    display: table-cell;
    vertical-align: middle;
}

.sign-in .email {
    width: 240px;
    height: 29px;
    /*margin-left: 37px;*/
    padding: 4px 15px;
    border: none;
    color: #dca1a1;
    -webkit-box-shadow: inset 2px 2px 14px 2px rgba(224,224,224,1);
    -moz-box-shadow: inset 2px 2px 14px 2px rgba(224,224,224,1);
    box-shadow: inset 2px 2px 14px 2px rgba(224,224,224,1);
}

.sign-in .check-in {
    /*overflow: visible;*/
    /*display: inline-block;*/
    position: relative;
    margin: 0 10px 0 7px;
    max-width: 110px;
    /*height: 31px;*/
    line-height: 28px;
    font-weight: bold;
    font-size: 16px;
    color: #960000;
    word-break: break-all;

    border: none;
    border-radius: 4px;
    /*background: rgba(255,195,0,1);
    background: -moz-linear-gradient(top, rgba(255,195,0,1) 0%,  rgba(255,196,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,195,0,1)), color-stop(100%, rgba(255,196,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc300', endColorstr='#ffc400', GradientType=0 );*/
    cursor: pointer;
}

.sign-in .check-in:before {
    content: "";
    position: absolute;
    left: -7px;
    top: 50%;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background: #FFC300;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.check-in .text {
    /*max-width: 60px;*/
    /*overflow: hidden;*/
}

.sign-in .check-in:hover {
    color: #fff;
}

@media all and (max-width: 998px) {
    .sign-in {
        /*float: none;*/
        margin: 33px auto 15px;
    }
    .sign-in .paragraph, .sign-in .form, .sign-in .email, .sign-in .check-in {
        /*float: none;*/
        display: block;
        margin: 0 auto 10px;
        line-height: normal;
        text-align: center;
    }
    .sign-in .paragraph {
        width: 100%;
    }
}



/*deal-date sidebar*/

.deal-date {
    /*position: relative;*/
    float: left;
    width: 134px;
    height: 129px;
    padding: 21px 10px;
    color: #960000;
    border-radius: 4px;
    background-color: #fff;
}

.deal-date .text {
    /*color: #960000;*/
    font-size: 20px;
    line-height: normal;
}

.deal-date .number {
    font-size: 47px;
    font-weight: bold;
    line-height: 47px;
}

.deal-date:after {
    content: "";
    position: absolute;
    top: 24px;
    right: -11px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 12px solid #fff;
    border-bottom: 15px solid transparent;
}

/* main-deal */

.main-deal {
    float: right;
    width: 83.4%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.deal-announce {
    margin-bottom: 10px;
    padding: 11px 18px 12px;
    background-color: #f2f2f2;
    border-radius: 2px;
}

.deal-announce .deal-header {
    /*overflow: hidden;*/
    /*max-width: 744px;*/
    /*width: 100%;*/
    /*max-height: 36px;*/
    font-size: 36px;
    font-weight: bold;
}
.deal-announce .deal-text {
    /*overflow: hidden;*/
    /*max-width: 744px;*/
    /*width: 100%;*/
    /*max-height: 60px;*/
    font-size: 20px;
}

.deal-action {
    float: right;
    width: 50%;
    min-height: 262px;
    margin-bottom: 10px;
    background-color: #000;
}

.deal-action:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 10px 0;
    border-color: transparent #000000 transparent transparent;
}

.deal-action .time {
    height: 62px;
    margin: 0 10px;
    color: #9c9c9c;
}

.deal-action .time-text {
    line-height: 50px;
}
.deal-action .time-number {
    float: right;
    margin: 4px 5px 0 0;
    line-height: 44px;
    font-size: 26px;
    font-family: 'helvbold', sans-serif;
    font-weight: bold;
}

.deal-action .buy {
    width: 94%;
    margin: 0 auto;
    padding-top: 22px;
    background-color: #2a2a2a;
    -webkit-box-shadow: 0 0 7px 7px rgba(42,42,42,1);
    -moz-box-shadow: 0 0 7px 7px rgba(42,42,42,1);
    box-shadow: 0 0 7px 7px rgba(42,42,42,1);
}

.buy .price {
    margin: 0 0 7px;
}

    .price .price-text {
        float: left;
        line-height: 61px;
        font-family: 'helvbold', sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 56px;
    }
    .price .checkout {
        overflow: visible;
        position: relative;
        width: 166px;
        min-height: 57px;
        float: right;
        font-size: 24px;
        font-weight: bold;
        color: #960000;

        border: none;
        border-radius: 6px;
        /*background: rgba(255,195,0,1);
        background: -moz-linear-gradient(top, rgba(255,195,0,1) 0%,  rgba(255,196,0,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,195,0,1)), color-stop(100%, rgba(255,196,0,1)));
        background: -webkit-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
        background: -o-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);
        background: linear-gradient(to bottom, rgba(255,195,0,1) 0%, rgba(255,196,0,1) 100%);*/
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc300', endColorstr='#ffc400', GradientType=0 );*/
        cursor: pointer;
    }

    .price .checkout:after {
        content: "";
        position: absolute;
        left: -10px;
        top: 50%;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        background: #FFC300;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 50%;
    }
    .price .checkout:hover {
        color: #fff;
    }

.deal-action .price button span{
    /*overflow: hidden;*/
    /*width: 165px;*/
}

.buy .gift {
    display: inline-block;
    /*float: right;*/
    /*overflow: hidden;*/
    /*min-width: 166px;*/
    /*height: 23px;*/
    line-height: 23px;
    margin-bottom: 16px;
    padding-left: 32px;
    color: #fff;
    background: url("../images/gift.png") 0 50% no-repeat;
}

.buy .gift:hover {
    text-decoration: underline;
}

.buy .action-list .action-item {
    display: inline-block;
    margin: 0 4px;
    padding: 4px 10px 10px;
    background-color: #212121;
    border-radius: 4px;
    text-align: center;
}

.buy .action-list .list-top-text {
    display: block;
    text-transform: uppercase;
    color: #5b5b5b;
}
.buy .action-list .action-item:first-child .list-top-text {
    text-align: right;
}

.buy .list-bottom-num {
    font-size: 34px;
    color: #ffe400;
    font-family: 'helvbold', sans-serif;
    font-weight: bold;
}

.buy .action-list .action-item:nth-child(2):before,
.buy .action-list .action-item:nth-child(2):after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 8px;
    background-color: #fff;
}

.deal-action .list {
    /*clear: both;*/
}

.buy .action-list .action-item:nth-child(2):before {
    left: -10px;
}
.buy .action-list .action-item:nth-child(2):after {
    right: -10px;
}


/*footnote*/
.footnote {
    /*min-width: 504px;*/
    text-align: right;
    /*margin-left: 279px;*/
    /*float: right;*/
}

.footnote * {
    /*float: left;*/
}

.footnote .footnote-text {
    display: inline;
    margin-top: 7px;
    font-size: 12px;
}

.footnote .footnote-link {
    /*overflow: hidden;*/
    margin: 4px 17px 0 4px;
    font-size: 14px;
    color: #df0000;
    text-decoration: underline;
}

.footnote .footnote-link:hover {
    color: #960000;
    /*text-decoration: underline;*/
    /*background-color: #ffe400;*/
}

.footnote .footnote-social {
    float: right;
}

.footnote .tweets {
    width: 96px;
    height: 20px;
    margin-right: 7px;
    padding-left: 62px;
    background: url("../images/tweet.png") 0 0 no-repeat;
    border: none;
    cursor: pointer;
}
.footnote .tweets-border {
    display: inline-block;
    /*position: relative;*/
    width: 34px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    background-color: #fff;
    border: 1px solid #cee3f0;
    border-radius: 3px;
}

.footnote .tweets-border i {
    overflow: hidden;
    width: 32px;
    padding-left: .5px;
    color: #2a7090;
}

.footnote .tweets-border:before,
.footnote .tweets-border:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid;
}

.footnote .tweets-border:before {
    left: -8px;
    top: 4px;
    border-color: transparent #cee3f0 transparent transparent;
}

.footnote .tweets-border:after {
    left: -7px;
    top: 4px;
    border-color: transparent  #fff transparent transparent;
}

.footnote .tweets:hover .tweets-border {
    background-color: #ffe400;
}
.footnote .tweets:hover .tweets-border:before,
.footnote .tweets:hover .tweets-border:after {
    border-color: transparent #ffe400 transparent transparent;
}

.footnote .fb-like {
    width: 79px;
    height: 20px;
    padding-left: 57px;
    background: url("../images/like.png") 0 100% no-repeat;
    border: none;
    cursor: pointer;
}

.footnote .fb-like-border {
    display: inline-block;
    /*position: relative;*/
    width: 21px;
    height: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    background-color: #efefef;
    border: 1px solid #c1c1c1;
}

.footnote .fb-like-border i {
    overflow: hidden;
    width: 19px;
}

.footnote .fb-like-border:before,
.footnote .fb-like-border:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 3px solid;
}

.footnote .fb-like-border:after {
    border: 2px solid;
}

.footnote .fb-like-border:before {
    left: -6px;
    top: 4px;
    border-color: transparent #c1c1c1 #c1c1c1 transparent;
}

.footnote .fb-like-border:after {
    left: -3px;
    top: 5px;
    border-color: transparent  #efefef #efefef transparent;
}

.footnote .fb-like:hover .fb-like-border {
    background-color: #ffe400;
}
.footnote .fb-like:hover .fb-like-border:before,
.footnote .fb-like:hover .fb-like-border:after {
    border-color: transparent #ffe400 #ffe400 transparent;
}

@media all and (max-width: 568px ) {
    .footnote .footnote-social,
    .footnote .footnote-text,
    .footnote .footnote-link,
    .footnote .tweets,
    .footnote .fb-like {
        display: block;
        float: none;
        margin: 10px auto;
        text-align: center;
    }
}


/*----- main deal Tabs -----*/
.deal-gallery {
    float: left;
    width: 48%;
}

.slick-dotted.slick-slider {
    margin-bottom: 10px;
}

.deal-gallery .slick-dots {
    /*position: absolute;*/
    top: 11px;
    left: -170px;
    bottom: 0;
}
.slick-dots .gallery-item {
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    color: #777;

    /*width: 160px;*/
    /*height: 69px;*/
    padding: 12px 9px;
    text-align: left;
    background: #2a2a2a;
    border-radius: 6px 0 0 6px;
}
.slick-dots li {
    position: relative;
     display: block;
     width: 160px;
     height: 69px;
    margin: 0 0 2px;
    /*padding: 0;*/
    /*cursor: pointer;*/
}
.slick-dots .gallery-item:hover {
    color: #960000;
}
.slick-active .gallery-item,
.slick-active .gallery-item:hover {
    color: #ffc300;
}

/*.deal-gallery .tabs {
    position: relative;
    width:100%;
    display:inline-block;
}

.deal-gallery ul.tab-links {
    position: absolute;
    top: 11px;
    left: -170px;
}

.deal-gallery .tab-links:after {
    content: "";
    display: block;
    clear: both;
}

.deal-gallery .tab-links li {
    margin:0 0 2px;
    cursor: pointer;
}

.deal-gallery .tab-links a {
    overflow: hidden;
    display: inline-block;
    font-size: 20px;
    color: #777;
    word-wrap: break-word;
    transition:all linear .15s;
    -o-transition: all linear .15s;
    -ms-transition: all linear .15s;
    -moz-transition: all linear .15s;
    -webkit-transition: all linear .15s;


    width: 160px;
    height: 69px;
    padding: 12px 9px;
    background: #2a2a2a;
    border-radius: 6px 0 0 6px;
}

.deal-gallery li:hover a,
.deal-gallery .tab-links a:hover {
    color: #827935;
}

.deal-gallery li.active a, li.active a:hover {
    color:#ffe400;
}

.deal-gallery .tab {
    display:none;
}

.deal-gallery .tab.active {
    display:block;
    text-align: center;
}*/

@media all and (max-width: 998px) {
    .deal-date {
        float: none;
        margin: 0 auto 20px;
        width: 280px;
        height: auto;
    }
    .deal-date .text,
    .deal-date .number {
        display: inline;
    }
    .deal-date .text {
        line-height: 46px;
    }
    .deal-date:after {
        right: auto;
        top: 88px;
        left: 20px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 15px solid #fff;
    }
    .main-deal {
        float: none;
        width: 94%;
        margin: 0 auto 10px;
    }
    .deal-gallery {
        float: none;
        width: 100%;
        margin: 0 auto 10px;
        /*padding-bottom: 10px;*/
    }
    .deal-gallery .slick-dots {
        position: relative;
        left: auto;
    }
    .slick-dots li {
        display: block;
        width: auto;
        height: auto;
    }
    .slick-slide .gallery-image {
        margin: 0 auto;
        max-width: 433px;
        width: 100%;
    }
    .slick-dots .gallery-item {
        /*margin: 0 2px;*/
        border-radius: 6px;
    }
    .deal-action {
        float: none;
        max-width: 488px;
        width: 100%;
        margin: 0 auto 10px;
        padding: 0 0 10px;
    }
    .deal-action:before {
        display: none;
    }
    /*.deal-gallery .tabs {
        position: relative;
        display: table;
        margin: 0 auto;
        width: 100%;
    }
    .deal-gallery ul.tab-links {
        position: relative;
        top: 0;
        left: 0;
        display: table-header-group;
    }
    .deal-gallery .tab-links li {
        display: table-cell;
        width: 33.58%;
        float: none;
        height: auto;
        padding: 4px;
        vertical-align: middle;
        text-align: center;
        border-radius: 6px;
        background-color: #2a2a2a;
    }
    .deal-gallery .tab-links a {
        display: block;
        width: 100%;
        height: auto;
        font-size: 14px;
        border-radius: 6px;
        padding: 0;
        background: none;
    }
    .deal-gallery .tab-content {
        display: table-row-group;
        height: 150px;
    }
    .deal-gallery .tab-content img {
        left: 100%;
        left: 0\0; !* ie9 fix*!
        top: 10px;
        max-width: 100%;
    }*/
    .footnote {
        text-align: center;
        /*float: none;*/
        /*overflow: hidden;*/
    }
    .footnote .footnote-social {
        float: none;
        margin-top: 10px;
    }
}

@media all and (max-width: 420px) {
    .deal-action * {
        margin: 0 auto;
        text-align: center;
    }
    .deal-action .time-number,
    .deal-action .price .price-text,
    .deal-action .price .checkout,
    .deal-action .gift,
    .deal-action .buy .action-list .action-item {
        float: none;
        display: block;
    }
    .deal-action .gift {
        width: 190px;
        /*text-align: left;*/
    }
    .deal-action .time-text {
        line-height: normal;
    }
    .deal-action .buy .action-list .action-item {
        margin: 4px;
    }
    .deal-action .buy .action-list .action-item:nth-child(2):before,
    .deal-action .buy .action-list .action-item:nth-child(2):after {
        display: none;
    }
    .deal-action .buy .action-list .action-item:first-child .list-top-text {
        text-align: center;
    }
}


/*main-deal-info*/
.main-info {
    /*overflow: hidden;*/
    padding: 10px 0;
    background-color: #fff;
}

.info {
    /*float: right;*/
    max-width: 800px;
    width: 100%;
    margin: 0 0 0 160px;
    padding: 13px 10px 10px;
    color: #fff;
    background-color: #2f2f2f;
    border-radius: 4px;
}

.info-header {
    /*position: relative;*/
    margin: 0 -9px;
}
.info-header .header-text {
    display: inline-block;
    margin: 0 30px;
    padding: 12px 17px;
    /*color: #fff;*/
    font-size: 17px;
    text-transform: uppercase;
    background-color: #464646;
    border-radius: 4px;
    z-index: 1;
}

.info-header .line {
    position: absolute;
    top: 50%;
    margin: -1px 0 0;
    width: 100%;
    height: .063em;
    background-color: #000;
    -webkit-box-shadow: 0 .045em 0 0 rgba(68,68,68,1);
    -moz-box-shadow: 0 .045em 0 0 rgba(68,68,68,1);
    box-shadow: 0 .045em 0 0 rgba(68,68,68,1);
}

.info .info-description {
    /*overflow: hidden;*/
    max-width: 540px;
    width: 100%;
    /*max-height: 47px;*/
    margin: 15px 0 8px;
    /*color: #fff;*/
    font-size: 13px;
    line-height: normal;
}


.info-week {
    /*overflow: hidden;*/
}

.info-week .week-img {
    /*float: left;*/
    max-width: 540px;
    width: 100%;
    height: auto;
}

.info-weeklist {
    float: right;
    max-width: 230px;
    width: 100%;
    max-height: 306px;
    padding-left: 9px;
    font-size: 13px;
    border-left: .093em solid #000;
    -webkit-box-shadow: inset .045em 0 0 0 rgba(68,68,68,1);
    -moz-box-shadow: inset .045em 0 0 0 rgba(68,68,68,1);
    box-shadow: inset .045em 0 0 0 rgba(68,68,68,1);
}

.info-weeklist .info-item {
    /*overflow: hidden;*/
    min-height: 71px;
    margin-bottom: 32px;
}
.info-weeklist .info-item:nth-child(2) {
    margin-bottom: 41px;
}

.info-weeklist .info-item .item-img {
    /*float: left;*/
    /*display: inline-block;*/
    width: 60px;
    height: 60px;
}

.info-weeklist .week-list {
    float: right;
    max-width: 154px;
    width: 100%;
}
    .info-weeklist .week-list .list-header {
        color: #ffe400;
        /*font-size: 13px;*/
        font-family: 'helvbold', sans-serif;
        font-weight: bold;
    }

    .week-list .list-text {
        margin: 0;
        /*color: #fff;*/
        font-family: 'helvbold', sans-serif;
        /*font-size: 13px;*/
        line-height: 14px;
    }

.info-bottom {
    height: 33px;
    width: 100%;
    background-color: rgba(204,0,0, .88);
}

@media all and (max-width: 998px) {
    .info {
        float: none;
        margin: 0 auto;
    }
}

@media all and (max-width: 810px) {
    .info-header {
        /*display: block;*/
        /*margin: 0 auto;*/
        /*max-width: 302px;*/
        text-align: center;
    }
    .info .info-description {
        max-width: 100%;
        text-align: center;
    }
    .info-week .week-img {
        float: none;
        display: block;
        margin: 0 auto 10px;
    }
    .info-weeklist {
        float: none;
        max-width: 100%;
        padding-left: 0;
        border: none;
        box-shadow: none;
    }
    .info-weeklist .week-list {
        float: left;
        max-width: 75%;
        margin-left: 10px;
    }
    .info-weeklist .week-list {
        /*text-align: left;*/
    }
    .info-weeklist .info-item,
    .info-weeklist .info-item:nth-child(2) {
        margin-bottom: 10px;
    }
    .info-weeklist .info-item:last-child {
        margin-bottom: 0;
    }
    .info-weeklist .info-item .item-img {
        /*margin: 0;*/
        float: left;
    }
}


/*footer*/
.footer-wrap {
    min-height: 278px;
    height: 100%;

    background: rgba(51,51,51,1);
    background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(40,40,40,1) 36%, rgba(18,18,18,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51,51,51,1)), color-stop(36%, rgba(40,40,40,1)), color-stop(50%, rgba(18,18,18,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(40,40,40,1) 36%, rgba(18,18,18,1) 50%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(40,40,40,1) 36%, rgba(18,18,18,1) 50%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(40,40,40,1) 36%, rgba(18,18,18,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.88) 0%, rgba(40, 40, 40, 0.88) 36%, rgba(18,18,18,.9) 50%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000', GradientType=0 );
}

.footer-block {
    /*overflow: hidden;*/
    padding: 30px 2px 24px;
    color: #fff;
}

.footer-block .footer {
    float: left;
    width: 24.15%;
    margin-right: 8px;
    padding: 0 4px;
}

.footer-block .footer-block-wrap:nth-child(4) {
    margin-right: 0;
}

.footer-block .footer-question,
.footer-block .footer-calculation,
.footer-block .dealin,
.footer-block .my-dealin {
    margin: 0 auto 10px;
    max-width: 230px;
}

.footer-block .footer-question,
.footer-block .footer-calculation {
    overflow: hidden;
    position: relative;
    height: 190px;
}

.footer-question .question-img,
.footer-calculation .calculation-img {
    margin-bottom: 14px;
    float: left;
}

.footer-question .question-header,
.footer-calculation .calculation-header {
    margin-bottom: 13px;
    color: #df0000;
    font-weight: bold;
    font-size: 24px;
    line-height: 19px;
}

.footer-question .question-text,
.footer-calculation .calculation-text {
    float: right;
    max-width: 155px;
    width: 100%;
    padding-right: 6px;
    /*color: #ffffff;*/
    font-size: 14px;
    line-height: 17px;
}

.footer-question .question-link,
.footer-calculation .calculation-link {
    position: absolute;
    bottom: 2px;
    display: block;
    max-width: 220px;
    width: 100%;
    height: 30px;
    padding-left: 12px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    background-color: #df0000;
    border-radius: 4px;
}

.footer-question .question-link:hover,
.footer-calculation .calculation-link:hover {
    color: #960000;
    background-color: #ffc300;
}

.question-link .link-text:after,
.calculation-link .link-text:after {
    content: "»";
    position: absolute;
    right: -16px;
}

.dealin .dealin-header/*,
.footer-block .my-dealin .my-dealin-header*/ {
    margin-bottom: 7px;
    color: #ffe400;
    font-family: 'helvbold', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.dealin .dealin-list/*,
.footer-block .my-dealin .my-dealin-list */{
    max-width: 220px;
    width: 100%;
}

.dealin .list-link/*,
.footer-block .my-dealin ul li a*/ {
    display: block;
    margin-bottom: 4px;
    padding: 9px 0 4px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #50292b;
}

.dealin .list-link:hover {
    color: #960000;
}

@media all and (max-width: 970px) {
    .footer-block .footer {
        width: 48%;
    }
}
@media all and (max-width: 600px) {
    .footer-block .footer {
        width: 100%;
    }
}